#menu{
    width: 22em;
    border: 1px darkgreen solid;
    margin: 0.5em;
    padding: 0.3em;
}

#menu li{
    display: inline-block;
    list-style: none;
    background-color: darkblue;
    margin: 0.3em;
    padding: 0.2em;
}

#menu li a{
    text-decoration: none;

}

#menu li a:visited{
    color: white;
}

#menu li a:hover{
    color: yellow;
}